<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>My Guide</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
		
	<script id="showTemplate" type="text/template">	
	<% for(var tag in Results.show){%>
			<div class="showContainer">					
					<ul>
						<%if(Results.show[tag].image !=null){%>
						<li><img src="<%=Results.show[tag].image%>"/></li>
						<%}else{%>
						<li><img src="img/noimage.gif"/></li>
						<%}%>
						<li><h2><%= Results.show[tag].name %></h2></li>
						<li>Seasons: <%= Results.show[tag].seasons %></li>
						<li>Status: <%= Results.show[tag].status %></li>
						<li>Network: <%= Results.show[tag].network %></li>
					
					</ul>
				<% } %>
				</div>
			</div>
		</script>
		
	<script type="text/template" id="tpl-message-item">
	<% for(var tag in show){%>
			<a href='' id='<%= show[tag].showid %>'><%= show[tag].name %></a><br>
	<%}%>
    </script>
	
	 
		
		
		 <form id="searchShows" action="#">
       
            <label for="search">Search for shows: </label><input id="search" type="text" />
            <button id="searching">Search</button>
        
    </form>
	
	<div id="container"></div>
    </body>
	<script src="js/lib/jquery.min.js"></script>
        <script src="js/lib/jquery-dateFormat.min.js"></script>
		<script src="js/lib/jquery-ui-1.10.3.custom.min.js"></script>
        <script src="js/lib/underscore-min.js"></script>
        <script src="js/lib/backbone-min.js"></script>
        <script src="js/models/result.js"></script>
        <script src="js/collections/SearchResults.js"></script>
		<script src="js/views/resultView.js"></script>
		<script src="js/views/searchResultsView.js"></script>
		<script src="js/router/searchRoute.js"></script>
		<script src="js/app.js"></script>
</html>