	<% var count = 0; for(var tag in shows) { %>
		<%if(shows[tag].image !=""){%>
			<div id="detail_<%=shows[tag].showid+"_"+time.replace(" ","_").replace(":","")%>">
				<span id="close_<%=shows[tag].showid+"_"+time.replace(" ","_").replace(":","")%>" class="close_<%=shows[tag].showid+"_"+time.replace(" ","_").replace(":","")%>">X</span>
				<div class="circle" style="background:url('<%=shows[tag].image%>');background-size:cover;background-position:center;"></div>
				<input style="display:none;" class="whichGrid" type="text" value="" />
				<form id="form_<%=shows[tag].showid+"_"+time.replace(" ","_").replace(":","")%>" >
					<div>
						<label for="showid"></label><input id="showid" type="text" value="<%=shows[tag].showid%>" />
						<!--<label for="shownum"></label><input id="shownum" type="text" value="<%=count%>" />-->
						<label for="name"><h3 class="title"><%=shows[tag].name%></h3></label><input id="name" type="text" value="<%=shows[tag].name%>" />
						<label for="airtime"><h3 class="title">Air Time: <%=time%></h3></label><input id="airtime" type="text" value="<%=time%>" />
						<label for="title"><h3 class="title">Episode Name: <%=shows[tag].title%></h3></label><input id="title" type="text"/>
						<label for="ep"><h3 class="title">Season x Episode: <%=shows[tag].ep%></h3></label><input id="ep" type="text"/>
						<label for="network"><h3 class="title">Network: <%=shows[tag].network%></h3></label><input id="network" type="text"/>
						<label for="image"> </label><input id="image" type="text" value='<%=shows[tag].image%>'/>
						<button style="display:none;"id="remove_<%=shows[tag].showid+"_"+time.replace(" ","_").replace(":","")%>" class="remove_<%=shows[tag].showid+"_"+time.replace(" ","_").replace(":","")%>">Unfollow</button>
						<button id="add_<%=shows[tag].showid+"_"+time.replace(" ","_").replace(":","")%>" class="add_<%=shows[tag].showid+"_"+time.replace(" ","_").replace(":","")%>">Follow</button>
						
					</div>
				</form>
			</div>
						
		<%count++;}else{%>
			<div id="detail_<%=shows[tag].showid+"_"+time.replace(" ","_").replace(":","")%>">
				<span id="close_<%=shows[tag].name.replace(/[^\w\s]/g,"_")+"_"+tag%>" class="close_<%=shows[tag].showid+"_"+time.replace(" ","_").replace(":","")%>">X</span>
				<div class="circle" style="background:url('img/noimage.gif');background-size:cover;background-position:center;"></div>
				<form id="form_<%=shows[tag].showid+"_"+time.replace(" ","_").replace(":","")%>">
					<div>
						<label for="showid"></label><input id="showid" type="text" value="<%=shows[tag].showid%>" />
						<!--<label for="shownum"></label><input id="shownum" type="text" value="<%=count%>" />-->
						<label for="name"><h3 class="title"><%=shows[tag].name%></h3></label><input id="name" type="text" value="<%=shows[tag].name%>" />
						<label for="airtime"><h3 class="title">Air Time: <%=time%></h3></label><input id="airtime" type="text" value="<%=time%>" />
						<label for="title"><h3 class="title">Episode Name: <%=shows[tag].title%></h3></label><input id="title" type="text"/>
						<label for="ep"><h3 class="title">Season x Episode: <%=shows[tag].ep%></h3></label><input id="ep" type="text"/>
						<label for="network"><h3 class="title">Network: <%=shows[tag].network%></h3></label><input id="network" type="text"/>
						<label for="image"> </label><input id="image" type="text" value='img/noimage.gif'/>
						<button style="display:none;"id="remove_<%=shows[tag].showid+"_"+time.replace(" ","_").replace(":","")%>" class="remove_<%=shows[tag].showid+"_"+time.replace(" ","_").replace(":","")%>">Unfollow</button>
						<button id="add_<%=shows[tag].showid+"_"+time.replace(" ","_").replace(":","")%>" class="add_<%=shows[tag].showid+"_"+time.replace(" ","_").replace(":","")%>">Follow</button>		
						</div>
				</form>
			</div>
						
		<%count++;}%>
	<%}%>
