    <div class="content2">  
	  <div class="login">
        <form class="login-form">
			<h1 class="login-title"></h1>
			<input type="text" class="login-input" id="login-username" value="demo" placeholder="Username"  autofocus>
			<input type="password" class="login-input" id="login-password" value="demo" placeholder="Password">
			<div class="error" style="display:none"></div>
			<input type="submit" value="Login" class="login-button">	
			<input type="button" id="register" value="Sign Up" class="login-button">
				
        </form>
		

        <form style="display:none" class="signup-form">		  
		  <h1 class="login-title"></h1>
			<input type="text" class="login-input" id="signup-firstname" placeholder="First Name"  autofocus>
			<input type="text" class="login-input" id="signup-lastname" placeholder="Last Name">
			<input type="text" class="login-input" id="signup-email" placeholder="Email">
			<input type="text" class="login-input" id="signup-username" placeholder="Username">
			<input type="password" class="login-input" id="signup-password" placeholder="Password">
			<div class="error" style="display:none"></div>
			<input type="submit" value="Sign Up" class="login-button">
			<input type="button" id="login" value="Go to Login" class="login-button">				
        </form>
		
	</div>
</div>